.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 1rem;
}
.nav-menu{
    display: flex;
    justify-content:space-between;
}
li{
padding:0 1rem;
}
.humburger{
    display: none;
    /* padding: 1 rem; */
}

@media screen and (max-width:940px){
    .nav-menu{
        display: none;
    }
    .nav-icons{
        display: none;
    }
    .humburger{
        display: block;
    }
}